.react-calendar__tile--active {
  background-color: #19d3ae !important;
  border-radius: 10px;
  color: white;
}
.react-calendar {
  border: none !important;
  font-family: "Poppins" !important;
  font-size: 20px;
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
  
}

abbr[data-original-title],
abbr[title] {
  text-decoration: none !important;
}
.react-calendar__month-view__days__day--weekend {
  color: gray !important;
}
.appointment-header-container {
    position: relative;
    background-image: url("../../images/banner-bg-transparent.png");
    background-size: cover;
    height: 90vh;
    background-repeat: no-repeat;
    background-position: center;
  }


  @media only screen and (min-width: 992px) {
    .react-calendar {
        border: none !important;
        font-family: "Poppins" !important;
        font-size: 20px;
        transition: all 0.3s cubic-bezier(.25,.8,.25,1);
        width:450px !important ;
        padding: 20px;
        
      }
      .react-calendar:hover{
        box-shadow: 0 14px 28px rgba(0, 0, 0, 0.062), 0 10px 10px rgba(0, 0, 0, 0.055);
        
    }
  }